.spec {
    min-height: 70vh
}

.spec-blok__container {
    padding: 20px 200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.spec-blok__section {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.spec-blok__section-1 {
    margin-top: 50px;
}

.spec-blok__section-part {
    max-width: 550px;
}

.spec-blok__section-part b {
    font-weight: 500;
}

.spec__img {
    width: 500px;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
    filter: brightness(.7);
}

.spec__tire {
    min-width: 30px;
    height: 2px;
    background: var(--second-color);
}

.spec__body {
    font-style: italic;
}

.spec-blok__section-part-2 {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 30px;
    overflow: hidden;
}

.moysklad__img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    transition: .5s;
}

.moysklad__img:hover {
    transform: scale(1.1);
}

@media (max-width: 1285px) {
    .spec-blok__container {
        padding: 20px 50px;
    }
}

@media (max-width: 1126px) {
    .spec-blok__container {
        padding: 20px 10px;
    }
}

@media (max-width: 1055px) {
    .spec__img  {
        width: 300px;
        margin-top: 50px;
    }
}

@media (max-width: 800px) {
    .spec__img  {
        display: none;
    }
}

@media (max-width: 336px) {
    .spec-blok__section-1 {
        text-align: center;
    }
}