* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* POPPINS GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bg-color: #080808;
  --text-color: white;
  --main-color: #9300ff;
  --second-color: rgb(172, 0, 172);
}

html, body {
  scroll-behavior: smooth; /* Для плавной прокрутки */
  scroll-padding-top: 0; /* Отступ вверху страницы перед скроллом */
  overflow-anchor: none; /* Отключение автоматической прокрутки при изменении размера страницы */
}

body {
  background: var(--bg-color);
  color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 8px;
}

.color-main {
  color: var(--main-color);
}

.color-second {
  color: var(--second-color);
}

.sar-animate {
  margin: auto;
  width: 100px;
  height: 5px;
  border-radius: 10px;
  background: var(--main-color);
  box-shadow: 0 0 15px var(--main-color);
  animation: load 3s infinite;
}

.block-animate {
  width: 350px;
  height: 3px;
  background: var(--second-color);
  animation: load2 5s infinite;
}

@keyframes load {
  0% {
    width: 20px;
  }

  50% {
    width: 100px;
  }

  100% {
    width: 20px;
  }
}

@keyframes load2 {
  0% {
    width: 20px;
  }

  50% {
    width: 350px;
  }

  100% {
    width: 20px;
  }
}

@media (max-width: 400px) {
  .block-animate {
    margin: auto;
    width: 250px;
    height: 3px;
    background: var(--main-color);
    animation: load2 5s infinite;
  }

  @keyframes load2 {
    0% {
      width: 20px;
    }

    50% {
      width: 250px;
    }

    100% {
      width: 20px;
    }
  }
}

.weight-bold {
  font-weight: bold;
}

.mt-10 {
  margin-top: 10px;
}

/*
--main-color: #2bfff1;
*/